.attribution {
    font-size: 0.5rem;
    text-align: center;
    margin-top: 2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.card-wrapper {
    margin: 40px 0px;
    width: 90%;
}

.image-section-mobile {
    background-color: hsl(30, 38%, 92%);
}

.image-section-desktop {
    background-color: hsl(30, 38%, 92%);
    display: none;
}

.product-image {
    width: 100%;
    border-radius: 0.75rem 0.75rem 0 0;
}

.product-info {
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    border-radius: 0 0 0.75rem 0.75rem;
}

.product-type {
    font-weight: lighter;
    color: #6C7289;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
}

.product-title {
    font-family: 'Fraunces', serif;
    color: #1C232B;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    margin: 1rem 0;
}

.product-description {
    color: #6C7289;
    line-height: 1.5rem;
    font-weight: lighter;
    width: 85%;
}

.price-div {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-flow: row nowrap;
    margin: 1rem 0;

}

.sale-price {
    font-family: 'Fraunces', serif;
    font-size: 2.0rem;
    color: #3D8168;
}

.price {
    text-decoration: line-through;
    padding: 0 2rem;
    color: #6C7289;
}

.button-div {
    display: flex;
    justify-content: center;
}

.cart-button {
    background-color: #3D8168;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    width: 100%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-icon {
    padding-right: 0.5rem;
}

.button-div .cart-button:hover {
    background-color: #1A4032;
}

/******* MEDIA QUERIES  ********/

/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width: 768px) {
    body {
        display: flex;
        justify-content: center;
    }

    .card-wrapper {
        padding: 10rem 0;
        max-width: 35rem;
    }
}


/* ----------- Desktop Screenlarger than 1200px wide ----------- */

@media (min-width: 1200px) {
    body {
        display: flex;
        justify-content: center;
    }

    .image-section-mobile {
        background-color: hsl(30, 38%, 92%);
        display: none;
    }

    .image-section-desktop {
        background-color: hsl(30, 38%, 92%);
        display: contents;
        /* width: 100%; */
    }

    .product-image {
        display: block;
        border-radius: 0.75rem 0 0 0.75rem;
    }

    .card-wrapper {
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
        max-width: 35rem;
    }

    .product-info {
        background-color: hsl(0, 0%, 100%);
        padding: 12em;
        border-radius: 0 0.75rem 0.75rem 0;
    }

    .product-type {
        width: 100%;
    }

}